.productDescriptionContainer {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    box-sizing: border-box;
    gap: 30px;
}
.productDescription {
    font-size: 10px;
}
.imageWrapper {
    max-width: 100%;
}
.textWrapper {
    max-width: 100%;
}
.descriptionImage {
    aspect-ratio: 16/10;
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
}
.cta {
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
    max-width: 450px;
}

@media (min-width: 768px) {
    .productDescriptionContainer{
        flex-direction: row;
        align-items: center;
        padding: 0 100px;
    }
    .imageWrapper {
        flex: 3;
    }

    .textWrapper {
        flex: 2;
    }
    .descriptionImage {
        aspect-ratio: 4/5;
    }
}

@media (min-width: 1024px) {
    .productDescriptionContainer{
        padding: 0 200px;
    }
}