.headerContainer {
    background-image: url("../../assets/himiway-ebike.webp");
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 4/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
}

.productHeading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #111111;
    margin: 0;
    text-align: center;
}
.cta {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: auto;
    max-width: 450px;
    padding: 30px;
    gap: 10px;
}
.textWrapper{
    display: none;
}

.cta button {
    background-color: white;
    color: #111111;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 10px;
}

@media (min-width: 768px) {
    .headerContainer {
        aspect-ratio: 16/10;
        min-height: 450px;
    }
    .cta {
        text-align: left;
        margin-right: auto;
        max-width: 450px;
        padding: 100px 100px;
        gap: 30px;
    }
    .cta button {
        padding: 16px;
    }
}

@media (min-width: 1024px) {
    .headerContainer{
        aspect-ratio: 16/9;
        min-height: 600px;
    }
    .textWrapper{
        display: block;
    }
    .cta button {
        max-width: 70%;
    }
}